@import url('../../App.css');

/* Welcome Section */

#welcome-section {
  padding: 10px;
  min-height: 100vh;
  color: var(--text-color);
}

#welcome-section > .section-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 85px;
  gap: 5px;
}

#welcome-avatar {
  width: clamp(190px, 40vw, 350px);
  height: auto;
}

#waving-hand {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.3rem, 1vw, 3rem);
}

#waving-hand > :first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#waving-hand > :nth-child(2) {
  font-size: clamp(1.8rem, 5vw, 8rem);
}

#waving-hand > :nth-child(3) {
  padding-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#waving-hand > :nth-child(3) button {
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 8px 12px;
  font-size: clamp(0.9rem, 2vw, 1.3rem);
}

#waving-hand > :nth-child(3) button:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
}

/* Breakpoints */

@media (min-width: 1024px) {
  #welcome-section > .section-container {
    flex-direction: row;
  }

  #waving-hand > :first-child {
    align-self: flex-start;
  }

  #waving-hand > :nth-child(3) {
    justify-content: flex-start;
  }
}