@import url('../../App.css');

#header-wrapper {
  position: fixed;
  padding: 20px;
  width: 100%;
}

#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  margin: auto;
}

.header-scrolled {
  background-color: var(--header-bg-color);
  backdrop-filter: blur(20px);
}

#header-container > p {
  color: var(--primary-color);
  font-size: clamp(1.8rem, 2vw, 4rem);
}

#header-container > nav {
  display: none;
}

@media (min-width: 700px) {
  #header-container > nav {
    display: flex;
    gap: 20px;
  }

  #header-container > nav > a {
    text-decoration: none;
    color: var(--text-color);
    font-size: clamp(12px, 3vw, 20px);
  }

  #header-container > nav > a:hover {
    color: var(--primary-color);
  }

  #hamburger-menu {
    display: none;
  }
}