@import url('../../App.css');

#header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
  padding: 20px;
  position: fixed;
  width: 100vw;
  top: 0;
}

.header-scrolled {
  background-color: var(--header-bg-color);
  backdrop-filter: blur(10px);
}

#header-container > p:first-child {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-color);
}

#header-container > nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 30px;
}

ul > li > a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--text-color);
}

li > a:hover {
  color: var(--primary-color);
}