@import url('../../App.css');

.hidden {
  top: 0px;
  position: absolute;
  right: -100vw;
  transition: right 0.5s ease-in;
}

.sidebar-active {
  top: 0px;
  right: 0px;
  transition: right 0.5s ease-out;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 25px;
  position: absolute;
  background-color: var(--primary-color);
  height: 100vh;
  width: clamp(100px, 40vw, 200px);
  box-shadow: 0px, 10px, 15px, red;
}

#sidebar-menu {
  padding-left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
}

#sidebar-menu > a {
  font-size: clamp(20px, 4vw, 25px);
  text-decoration: none;
  color: var(--text-color);
}

#sidebar-menu > a:hover {
  color: var(--primary-color);
}